body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: flex-start; /* Align items to the left on the main axis */
  align-items: flex-start;    /* Align items to the top on the cross axis */
  text-align: left;
  gap: 10px;                  /* Optional: Add space between items */
}

.notes {
  padding-top: 1rem;
  padding-left: 1rem;
}